//colors
//$primary: #6ec1e4;
$secondary: #54595f;
$danger: #c40101;

$text: #7a7a7a;

$black: #000;
$white: #fff;

$header: #36424f;
$footer: #d8d8d8;
$footer-color: #47505e;

$facebook-color: #3b5998;
$instagram-color: #568dba;

$grid-gutter-width: 10px !default;

//padding
$main-padding: 3rem;

//header
$header-height: 70px;

